<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinanceTrackerApplication"
        tools:targetApi="31">
        <activity
            android:name=".features.transaction.previewcamera.AddPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".features.transaction.instalment.AddInstalmentActivity"
            android:exported="false" />
        <activity
            android:name=".features.transaction.repeat.AddRepeatActivity"
            android:exported="false" />
        <activity
            android:name=".features.settings.categorymanage.add.AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".features.settings.categorymanage.list.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".features.aset.add.AddAsetActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.SignInLinkEmailActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".features.transaction.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>